#dev {
    background-color: #859900; color: #fdf6e3;
    font-weight: bold;
    font-family: "Menlo","Monaco",monospace;
    font-size: 16px;
    padding: 10px;
    width: 100%;
    text-align: center;
    }
